{{#unless isSecondary}}
    {{!-- primary navigation used at header --}}
    <nav class="header-nav" role="navigation" aria-label="Main navigation">
        <ul class="header-nav-list no-style-list" role="menu">
            {{!-- change 4 to any number of navigation you want to show before more dropdown  --}}
            {{#foreach navigation to="4"}}
            <li class="nav-item" role="menuitem">
                <a href="{{url}}" {{#if current}}class="nav-current"{{/if}}>{{label}}</a>
            </li>
            {{/foreach}}
            {{!-- change 5 to the next number which you have set above.  --}}
            {{#foreach navigation from="5"}}
            {{#if @first}}
            <li class="submenu-parent"><a href="#">{{t "More"}} {{> icons/arrow-v-down}}</a>
                <ul class="no-style-list">
                {{/if}}
                    <li class="nav-item" role="menuitem">
                        <a href="{{url}}" {{#if current}}class="nav-current"{{/if}}>{{label}}</a>
                    </li>
                {{#if @last}}
                </ul>
            </li>
            {{/if}}
            {{/foreach}}
            {{!-- Start of hardcoded navigation for signup and signin --}}
            {{#unless @member}}
            <li class="nav-item" role="menuitem">
                {{#link href="/signin/" activeClass="nav-current"}}{{t "Sign in"}}{{/link}}
            </li>
            <li class="nav-item" role="menuitem">
                {{#link href="/signup/" class="btn btn-menuitem" activeClass="nav-current"}}{{t "Sign Up"}}{{/link}}
            </li>
            {{/unless}}
            {{!-- End of hardcoded navigation for signup and signin --}}
        </ul>
    </nav>
    {{!-- Start logged in member nav and other icons --}}
    <div class="icon-items-wrap flex">
        {{#if @member}}
        <div class="nav-icon flex user-nav-wrap">
            <a href="javascript:;" class="nav-user-icon">
                {{> icons/user}}
                {{#if @member.avatar_image}}
                    <img class="nav-user-img" loading="lazy" src="{{@member.avatar_image}}" alt="{{@member.name}}"/>
                {{/if}}
            </a>
            <div class="user-details-links">
                <div class="user-details">
                    {{#if @member.name}}
                    <div class="user-name">{{@member.name}}</div>
                    {{/if}}
                    {{#if @member.email}}
                    <div class="user-email">{{@member.email}}</div>
                    {{/if}}
                </div>
                {{#link href="/account/" class="user-links" activeClass="nav-current"}}{{t "Account"}}{{/link}}
                <a href="javascript:;" data-members-signout class="user-links">{{t "Sign out"}}</a>
            </div>
        </div>
        {{/if}}
        <a href="javascript:;" class="nav-icon search-icon flex js-search-button" aria-label="Open search">
            <span><svg><use xlink:href="#i-search"/></svg></span>
        </a>
        {{#if @custom.show_theme_mode_switcher_icon}}
        <a href="javascript:;" class="nav-icon theme-icon flex js-toggle-dark-light" aria-label="Toggle theme">
            <div class="toggle-mode flex">
                <div class="light"><svg><use xlink:href="#i-sun"/></svg></div>
                <span class="dark"><svg><use xlink:href="#i-moon"/></svg></span>
            </div>
        </a>
        {{/if}}
    </div>
    {{!-- End logged in member nav and other icons --}}
{{else}}

    {{!-- Start secondary navigation used in footer --}}
    {{!-- first column --}}
    {{#foreach navigation limit="4"}}
    {{#if @first}}
    <div class="nav-col">
        {{!-- Edit first column title in next line --}}
        <h3 class="title h6">{{t "Features"}}</h3>
        <nav>
        <ul class="no-style-list">
            {{/if}}
                <li class="nav-link"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{#if @last}}
            </ul>
        </nav>
    </div>
    {{/if}}
    {{/foreach}}

    {{!-- second column --}}
    {{#foreach navigation limit="4" from="5"}}
    {{#if @first}}
    <div class="nav-col">
        {{!-- Edit second column title in next line --}}
        <h3 class="title h6">{{t "Members"}}</h3>
        <nav>
            <ul class="no-style-list">
            {{/if}}
                <li class="nav-link"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{#if @last}}
            </ul>
        </nav>
    </div>
    {{/if}}
    {{/foreach}}

    {{!-- third column --}}
    {{#foreach navigation from="9"}}
    {{#if @first}}
    <div class="nav-col">
        {{!-- Edit third column title in next line --}}
        <h3 class="title h6">{{t "About"}}</h3>
        <nav>
        <ul class="no-style-list">
            {{/if}}
                <li class="nav-link"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{#if @last}}
            </ul>
        </nav>
    </div>
    {{/if}}
    {{/foreach}}
{{/unless}}