{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="main">
    <div class="container">
        <div class="centered-page-header text-center">
            {{#post}}
            <h1 class="title">{{title}}</h1>
            {{#unless @member.paid}}
            <div class="description">
                {{content}}
            </div>
            {{/unless}}
            {{/post}}
        </div>
        <div class="row">
            {{#if @member.paid}}
            {{!-- Logged in, paying member: show account page link --}}
            <div class="post-content">
                <div class="col-md-8 offset-md-2">
                    {{t "Hay! You have already subscribed to premium membership plan. To see your account information please"}} {{#link href="/account/"}}{{t "visit account Page"}}{{/link}}
                </div>
            </div>
            {{else if @member}}
                <div class="col-12">
                    <div class="membership-switch flex" id="membership-duration" data-active-duration="yearly">
                    <button class="btn" data-duration="monthly">Monthly</button>
                    <button class="btn" data-duration="yearly">Yearly</button>
                </div>
                </div>
                {{#get "tiers" include="monthly_price,yearly_price,benefits" filter="visibility:public+type:paid" limit="all" as |tiers|}}
                {{#foreach tiers}}
                <div class="col-lg-4 col-md-6 {{#if @first}}offset-lg-2{{/if}}">
                    <div class="pricing-table" data-active-duration="yearly"
                    {{#if monthly_price}}data-m="{{price monthly_price}}"{{/if}}
                    {{#if yearly_price}}data-y="{{price yearly_price}}"{{/if}}>
                        <div class="table-header text-center">
                            <div class="table-title">{{name}}</div>
                            {{#match name "=" "Free"}}
                            <div class="price h1">
                                <sup class="currency">$</sup>0
                            </div>
                            {{/match}}
                            {{#if monthly_price}}
                            <div class="price h1" data-price="monthly">
                                <sup class="currency">{{price currency=currency}}</sup>{{price monthly_price}}
                            </div>
                            {{/if}}
                            {{#if yearly_price}}
                            <div class="price h1" data-price="yearly">
                                <sup class="currency">{{price currency=currency}}</sup>{{price yearly_price}}
                            </div>
                            {{/if}}
                            {{#if description}}
                            <div class="table-description">
                                {{description}}
                            </div>
                            {{/if}}
                        </div>
                        {{#if benefits}}
                        <ul class="table-details icon-list">
                            {{#foreach benefits as |benefit|}}
                            <li>{{benefit}}</li>
                            {{/foreach}}
                        </ul>
                        {{/if}}
                        <div class="table-footer">
                            {{#match name "=" "Free"}}
                            {{#link class="btn btn-block" href="/signup/"}}{{t "Subscribe now"}}{{/link}}
                            {{else}}
                            {{#if monthly_price}}
                            <a class="btn btn-block" href="javascript:" data-portal="signup/{{id}}/monthly" data-price="monthly"><span>{{t
                                    "Subscribe now"}}</span></a>
                            {{/if}}
                            {{#if yearly_price}}
                            <a class="btn btn-block" href="javascript:" data-portal="signup/{{id}}/yearly" data-price="yearly"><span>{{t
                                    "Subscribe now"}}</span></a>
                            {{/if}}
                            {{/match}}
                        </div>
                        <span class="label label-success js-discount">{{t "Save"}} <span class="js-discount-amount">0%</span></span>
                    </div>
                </div>
                {{/foreach}}
                {{/get}}
            {{else}}
                <div class="col-12">
                    <div class="membership-switch flex" id="membership-duration" data-active-duration="yearly">
                    <button class="btn" data-duration="monthly">Monthly</button>
                    <button class="btn" data-duration="yearly">Yearly</button>
                </div>
                </div>
                {{#get "tiers" include="monthly_price,yearly_price,benefits" filter="visibility:public" limit="all" as |tiers|}}
                {{#foreach tiers}}
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-table" data-active-duration="yearly"
                    {{#if monthly_price}}data-m="{{price monthly_price}}"{{/if}}
                    {{#if yearly_price}}data-y="{{price yearly_price}}"{{/if}}>
                        <div class="table-header text-center">
                            <div class="table-title">{{name}}</div>
                            {{#match name "=" "Free"}}
                            <div class="price h1">
                                <sup class="currency">$</sup>0
                            </div>
                            {{/match}}
                            {{#if monthly_price}}
                            <div class="price h1" data-price="monthly">
                                <sup class="currency">{{price currency=currency}}</sup>{{price monthly_price}}
                            </div>
                            {{/if}}
                            {{#if yearly_price}}
                            <div class="price h1" data-price="yearly">
                                <sup class="currency">{{price currency=currency}}</sup>{{price yearly_price}}
                            </div>
                            {{/if}}
                            {{#if description}}
                            <div class="table-description">
                                {{description}}
                            </div>
                            {{/if}}
                        </div>
                        {{#if benefits}}
                        <ul class="table-details icon-list">
                            {{#foreach benefits as |benefit|}}
                            <li>{{benefit}}</li>
                            {{/foreach}}
                        </ul>
                        {{/if}}
                        <div class="table-footer">
                            {{#match name "=" "Free"}}
                            {{#link class="btn btn-block" href="/signup/"}}{{t "Subscribe now"}}{{/link}}
                            {{else}}
                            {{#if monthly_price}}
                            <a class="btn btn-block" href="javascript:" data-portal="signup/{{id}}/monthly" data-price="monthly"><span>{{t
                                    "Subscribe now"}}</span></a>
                            {{/if}}
                            {{#if yearly_price}}
                            <a class="btn btn-block" href="javascript:" data-portal="signup/{{id}}/yearly" data-price="yearly"><span>{{t
                                    "Subscribe now"}}</span></a>
                            {{/if}}
                            {{/match}}
                        </div>
                        <span class="label label-success js-discount">{{t "Save"}} <span class="js-discount-amount">0%</span></span>
                    </div>
                </div>
                {{/foreach}}
                {{/get}}
            {{/if}}
        </div>
        {{#unless @member.paid}}
        <div class="row">
            <div class="col-12">
                <div class="pricing-currency">
                    <small><sup>*</sup> {{t "All price is in USD"}}</small>
                </div>
            </div>
        </div>
        {{/unless}}
        <div class="row">
            <div class="col-12">
                {{^if @member}}
                <div class="text-center membership-footer">
                    <small>{{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></small>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{!-- insert pricing switcher script --}}
{{#contentFor "scripts"}}
{{> scripts/membership-pricing-duration-switcher}}
{{/contentFor}}

{{#contentFor "scripts"}}
{{!-- {{> scripts/discount-calculator}} --}}
{{/contentFor}}