{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="centered-page-header text-center">
                    {{#post}}
                    <h1 class="title">{{title}}</h1>
                    <div class="description">
                        {{content}}
                    </div>
                    {{/post}}
                </div>
                {{#if @member.paid}}
                {{!-- paid member --}}
                <div class="col-md-8 offset-md-2">
                    <div class="subscriber-wrap">
                        <div class="member-avatar-wrap">
                            <svg><use xlink:href="#i-user"/></svg>
                            {{#if @member.avatar_image}}
                            <img class="avatar-img" src="{{@member.avatar_image}}" loading="lazy" alt="{{@member.name}}"/>
                            {{/if}}
                        </div>
                        <h2 class="h3 text-center">{{@member.name}}</h2>
                        <div class="account-description text-center">
                            {{t "Hey! You have an active account with access to all areas. Get in touch if have any problems or need some help getting things updated, and thanks for subscribing."}}
                        </div>
                    </div>
                    {{#foreach @member.subscriptions}}
                        {{#if cancel_at_period_end}}
                        <div class="subscription-expiration-warning">
                            <strong>{{t "Your subscription will expire on"}} {{date current_period_end format="DD MMMM, YYYY"}}.</strong>
                            {{t "If you change your mind in the meantime you can turn auto-renew back on to continue your subscription."}}
                        </div>
                        {{/if}}
                        <div class="subscription-info-wrap flex">
                            <div class="subs-info">
                                <div class="info-label">{{t "Name:"}}</div>
                                <div class="info-content">{{@member.name}}</div>
                            </div>
                            <div class="subs-info">
                                <div class="info-label">{{t "Email address:"}}</div>
                                <div class="info-content">{{@member.email}}</div>
                            </div>
                            <div class="subs-info">
                                <div class="info-label">{{t "Your plan:"}}</div>
                                <div class="info-content">{{plan.nickname}} - {{price plan}}/{{plan.interval}}</div>
                            </div>
                            <div class="subs-info">
                                <div class="info-label">{{t "Status:"}}</div>
                                <div class="info-content">{{status}}</div>
                            </div>

                            <div class="subs-info">
                                <div class="info-label">{{t "Card:"}}</div>
                                <div class="info-content">**** **** **** {{default_payment_card_last4}}</div>
                            </div>
                            <div class="subs-info">
                                <div class="info-label">
                                    {{#if cancel_at_period_end}}
                                        {{t "Expires:"}}
                                    {{else}}
                                        {{t "Next bill date:"}}
                                    {{/if}}
                                </div>
                                <div class="info-content">{{date current_period_end format="DD MMMM YYYY"}}</div>
                            </div>
                        </div>
                        {{!-- billing edit and cancel link --}}
                        <div class="members-button-wrap flex">
                            <a class="btn btn-sm bill-edit-link" href="javascript:"
                                data-members-edit-billing
                                data-members-success="{{@site.url}}/account/?stripe=billing-update-success"
                                data-members-cancel="{{@site.url}}/account/?stripe=billing-update-cancel"
                                ><span>{{t "Edit billing info"}}</span></a>
                            {{cancel_link
                                class="btn btn-flat btn-sm"
                                cancelLabel=(t "Cancel Subscription!")
                                continueLabel=(t "Continue Subscription!")
                            }}
                        </div>
                    {{/foreach}}
                </div>
                {{else if @member}}
                <div class="col-md-8 offset-md-2">
                    <div class="subscriber-wrap">
                        <div class="member-avatar-wrap">
                            <svg><use xlink:href="#i-user"/></svg>
                            {{#if @member.avatar_image}}
                            <img class="avatar-img" src="{{@member.avatar_image}}" loading="lazy" alt="{{@member.name}}"/>
                            {{/if}}
                        </div>
                        {{#if @member.name}}
                        <h2 class="h3 text-center">{{@member.name}}</h2>
                        {{/if}}
                        <div class="account-description text-center">
                            {{t "Hey! you are subscribed to free plan and you will get free updates. To unlock full access please subscribe to a paid plan."}}<br><br>
                            {{#link href="/membership/" class="btn" }}{{t "Subscribe now"}}{{/link}}
                        </div>
                    </div>
                    <div class="subscription-info-wrap flex">
                        {{#if @member.name}}
                        <div class="subs-info">
                            <div class="info-label">{{t "Name:"}}</div>
                            <div class="info-content">{{@member.name}}</div>
                        </div>
                        {{/if}}
                        <div class="subs-info">
                            <div class="info-label">{{t "Email address:"}}</div>
                            <div class="info-content">{{@member.email}}</div>
                        </div>
                    </div>
                </div>
                {{else}}
                {{!-- Not logged in: Redirect to signin page --}}
                <script>window.location = '{{@site.url}}/signin/';</script>
                {{/if}}
            </div>
        </div>
    </div>
</div>