{{!< default-no-header-footer}}
{{!-- The tag above means: insert everything in this file into the {body} of the default-no-header-footer.hbs template --}}
<div class="main">
    {{#if @member}}
    <script>window.location = '{{@site.url}}/account/';</script>
    {{else}}
    <div class="members-page-wrap">
        <div class="members-content-wrap">
            {{#link href=@site.url class="back-home-link"}}{{> icons/arrow-left}} {{t "Home"}}{{/link}}
            {{!-- logo start --}}
            <div class="header-logo logo-wrap">
                {{> logo}}
            </div>
            {{!-- logo end --}}
            <div class="members-wrap">
                <h1 class="members-title h3 text-center">
                    {{t "Sign in"}}
                </h1>
                <div class="members-description text-center">
                    {{t "Sign into your account for full access"}}
                </div>
                <form class="members-form text-left js-member-form" data-members-form="login" autocomplete="off">
                    <div class="members-form-box">
                        <div class="form-field-wrap">
                            <label for="email" class="sr-only">Email</label>
                            <input data-members-email="" type="email" class="email form-field" id="email" placeholder="{{t "Your email address"}}" required="" autocomplete="off">
                            <button class="btn btn-block form-field" type="submit" name="submit"><span>{{t "Send login link"}}</span></button>
                        </div>
                    </div>
                    <div class="message-container">
                        <div class="notification success form-notification">
                            <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
                            <strong>{{t "Great!"}}</strong> {{t " Check your inbox and click the link to complete sign in."}}</span>
                        </div>
                        <div class="notification error form-notification">
                            <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
                            <strong>{{t "Error!"}}</strong> {{t "Sorry, something went wrong. Please try again."}}
                        </div>
                        
                    </div>
                </form>
                <div class="alternate-option text-center">
                    <small>{{t "Don't have an account yet?"}} {{#link href="/signup/"}}{{t "Sign up"}}{{/link}}</small>
                </div>
            </div>
        </div>
        {{#post}}
        {{#if feature_image}}
        <div class="cover-wrap">
            <img class="cover-image" loading="lazy"
                srcset="{{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 1200w"
                sizes="(max-width: 1200px) 600px, (max-width: 1668px) 1000px, 1200px"
                src="{{img_url feature_image size="xl"}}" alt="{{title}}">
        </div>
        {{/if}}
        {{/post}}
    </div>
    {{/if}}
</div>