<!DOCTYPE html>
<html lang="{{@site.locale}}" data-theme="{{@custom.default_theme_mode}}">
	<head>
		{{! Document Settings }}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		{{! Page Meta }}
		<title>{{meta_title  page=(t " (Page %)")}}</title>
		{{! Styles'n'Scripts }}
		{{> google-font}}
        <link href="{{asset "css/screen.min.css"}}" rel="stylesheet">
		{{> scripts/color-scheme}}
		<script>
			document.documentElement.classList.add('js');
			window.onload = function() {
				setTimeout(function() {
					document.body.classList.add('loaded');
				}, 5000);
			}
		</script>
		{{! Ghost outputs important style and meta data with this tag }}
		{{ghost_head}}
	</head>
	<body class="{{body_class}}" data-nav="{{@custom.navigation_bar_type}}">
		<div class="site-wrap">
		{{> icons/global-icons}}
		{{> header}}
		{{{body}}}
        {{> footer}}
		</div>
		{{> search-popup}}
		{{> members/notifications}}
		{{!-- scripts --}}
		<script>
			{{!-- /* variables for load more button */ --}}
            var nextPage = '{{pagination.next}}';
            var totalPages = '{{pagination.pages}}';
			{{!-- /* variable for Quote tweet link */ --}}
			var TweetQuoteText ='<svg><use xlink:href="#i-twitter"/></svg><span>{{t "Tweet this"}}</span>';
        </script>
		{{!-- The #block helper will pull in data from the #contentFor other template files. --}}
		{{{block "scripts"}}}
		{{!-- including theme's javascript --}}
		<script src="{{asset "js/app.bundle.min.js"}}"></script>
        {{ghost_foot}}
	</body>
</html>