<div class="notification notification-subscribe">
    <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
    {{t "You've successfully subscribed to"}} {{@site.title}}
</div>

<div class="notification notification-signup">
    <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
    {{t "Great! Next, complete checkout to get full access to all premium content."}}
</div>

<div class="notification notification-signup-error error">
    <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
    {{t "Error! Could not sign up. invalid link."}}
</div>

<div class="notification notification-signin">
    <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
    {{t "Welcome back! You've successfully signed in."}}
</div>

<div class="notification notification-signin-error error">
    <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
    {{t "Error! Could not sign in. Please try again."}}
</div>

<div class="notification notification-checkout">
    <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
    {{t "Success! Your account is fully activated, you now have access to all content."}}
</div>

<div class="notification error notification-checkout-cancel">
    <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
    {{t "Error! Stripe checkout failed."}}
</div>

<div class="notification notification-billing-update">
    <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
    {{t "Success! Your billing info is updated."}}
</div>

<div class="notification error notification-billing-update-cancel">
    <a class="notification-close" href="javascript:;" aria-label="close notification"><span class="close-icon"><svg><use xlink:href="#i-close"/></svg></span></a>
    {{t "Error! Billing info update failed."}}
</div>